<!DOCTYPE html>
<html>
    <head>
        <title>Flask Template Example</title>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        
        <style type="text/css">
            .container{
                max-width:500px;
                padding-top:200px;
                border: solid 1px red;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <p>My String : {{ my_string }}</p>
            <p>리스트 항목 : {{ my_list[3] }}</p>
            <p>리스트 값 출력 : </p>
            <ul>
                {% for n in my_list %}
                <li>{{n}}</li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>